body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	display: flex;
	flex-direction: column;
}
#tex {
	display: flex;
	flex-grow: 1;
}

.CodeMirror, .CodeMirror-scrool {
}

.layer-wrap {
	width: 100%;
	height: 100%;
	background-color: green;
	position: relative;
}

/* splitter */

.gutter.gutter-horizontal {
    display: flex;
    align-items: center;
    line-height: 5px;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #ccc;
    text-shadow: 1px 0 1px black;
}

.gutter::after {
    content: '.. .. .. ..';
}

.gutter {
    cursor: ew-resize;
    background-color: #eee;
}
